.hear {
  padding: 60px 0;

  &__container {
  }

  &__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;

    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__head-left {
    max-width: 80%;
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__subtitle {
    color: #52525B;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  &__nav {
    flex-shrink: 0;
    margin-top: 13px;
  }

  &__prev {
  }

  &__pagination {
  }

  &__next {
  }

  &__slider {
    &.swiper {
      overflow: visible;
    }

    &.swiper-grid.swiper-grid-column {


      .swiper-wrapper {
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 520px;
      }
    }
  }
}

.title-h1 {
}


.hear-card {
  &__video {
  }

  &__descr {
    margin-top: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
}

.video {
  border-radius: 16px;
  overflow: hidden;
  aspect-ratio: 2;
  position: relative;

  &.active {
    &::after {
      opacity: 0;
      visibility: hidden;

    }

    .video__btn {
      display: none;
    }
  }

  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  }

  &__image-prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }

  &__btn {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    background: rgba(59, 69, 78, 0.50);
    backdrop-filter: blur(40px);
    width: 64px;
    height: 64px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);

    &:hover {
      background: rgba(59, 69, 78, 0.80);
    }

    .play {
    }

    .pause {
      display: none;
    }
  }
}

