.key {
    padding: 60px 0;
    @media (max-width: $mobile) {
        padding: 50px 0;
    }

    &__container {
    }

    &__head {
        text-align: center;
        max-width: 915px;
        margin: 0 auto;

        &:not(:last-child) {
            margin-bottom: 96px;
            @media (max-width: $mobile) {
                margin-bottom: 64px;
            }
        }
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: 8px;
            @media (max-width: $mobile) {
                margin-bottom: 16px;
            }
        }
    }

    &__subtitle {
        color: #6F7A83;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: -0.44px;
        @media (max-width: $mobile) {
            font-size: 14px;
        }

        &:not(:last-child) {
            margin-bottom: 40px;
            @media (max-width: $mobile) {
                margin-bottom: 32px;
            }
        }
    }

    &__button {
        height: 40px;
        width: 100%;
        max-width: 444px;
        @media (max-width: $mobile) {
            height: 56px;
        }
    }

    &__grid-layout {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        @media (max-width: $tablet) {
            gap: 16px;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
    }
}


.item-key {
    border-radius: 24px;
    border: 1px solid #10100F;
    background: #0E0E0E;
    padding: 38px 24px;
    color: #fff;
    @media (max-width: $mobile) {
        border-radius: 12px;
        padding: 32px 24px;
    }

    &__icon {
        width: 32px;
        height: 32px;

        &:not(:last-child) {
            margin-bottom: 56px;
            @media (max-width: $mobile) {
                margin-bottom: 16px;
            }
        }

        img {
            max-height: 100%
        }
    }

    &__title {
        font-size: 22px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.44px;
        @media (max-width: $mobile) {
            margin-bottom: 18px;
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.28px;
        max-width: 296px;
    }
}