.sale {
  padding: 120px 0 80px;
  @media (max-width: $mobile) {
    padding: 50px 0;
  }

  &__container {
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    @media (max-width: $mobile) {
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: 64px;
      @media (max-width: $mobile) {
        margin-bottom: 48px;
      }
    }
  }

  &__subtitle {
    color: #6F7A83;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    @media (max-width: $mobile) {
      margin-bottom: 8px;
    }
  }

  &__title {
    max-width: 600px;
    text-align: right;
    @media (max-width: $mobile) {
      text-align: left;
    }
  }

  &__block {
  }

  &__block {
    &:not(:last-child) {
      margin-bottom: 80px;
      @media (max-width: $mobile) {
        margin-bottom: 50px;
      }
    }

    &:nth-child(even) {
      .sale-item__image {
        order: -1;
        @media (max-width: $mobile) {
          order: 1;
        }
      }
    }
  }
}


.sale-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 16px;
  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 40px;
  }

  &__content {
  }

  &__title {
    @media (max-width: $mobile) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
      @media (max-width: $mobile) {
        margin-bottom: 12px;
      }
    }
  }

  &__text {
    color: #3F3F46;
    line-height: 24px;
    letter-spacing: 0.32px;

    &:not(:last-child) {
      margin-bottom: 29px;
      @media (max-width: $mobile) {
        margin-bottom: 24px;
      }
    }
  }

  &__subtitle {
    color: #6F7A83;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: 48px;
      @media (max-width: $mobile) {
        margin-bottom: 8px;
      }
    }
  }


  &__image {
    @media (max-width: $mobile) {
      max-width: 400px;
      align-self: center;
    }

    img {
      max-width: 100%
    }
  }
}