.vision {
  padding: 60px 0;
  @media (max-width: $mobile) {
    padding: 50px 0;
  }

  &__container {
  }

  &__row {
    display: flex;
    align-items: flex-start;
    gap: 120px;
    @media (max-width: $pc) {
      gap: 40px;
    }
    @media (max-width: $mobile) {
      display: block;
    }

  }

  &__content {
    flex: 1 1 auto;
  }

  &__subtitle {
    &:not(:last-child) {
      margin-bottom: 24px;
      @media (max-width: $mobile) {
        margin-bottom: 8px;
      }
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 24px;
      @media (max-width: $mobile) {
        margin-bottom: 38px;
      }
    }
  }

  &__text {
    @media (max-width: $mobile) {
      font-size: 14px;
    }

    & > * {
      &:not(:last-child) {
        margin-bottom: 8px;
        @media (max-width: $mobile) {
          margin-bottom: 16px;
        }
      }
    }

    color: #3F3F46;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  &__grid-layout {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @media (max-width: $mobile) {
      flex-direction: column;
      margin-top: 40px;
    }
  }

  &__image-ibg {
    width: percent(520, 1260);
    flex-shrink: 0;
    border-radius: 32px;
    overflow: hidden;
    aspect-ratio: 520/580;
    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__image-mob-ibg {
    border-radius: 32px;
    overflow: hidden;
    height: 312px;
    margin: 27px 0;
    @media (min-width: $mobile) {
      display: none;
    }
  }
}

