.why {
  padding: 120px 0 80px;
  @media (max-width: $mobile) {
    position: relative;
    padding-top: 147px;
    padding-bottom: 50px;
  }

  &__container {
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @media (max-width: $mobile) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 8px;
      padding-top: 24px;
    }

    &:not(:last-child) {
      margin-bottom: 56px;
      @media (max-width: $mobile) {
        margin-bottom: 48px;
      }
    }
  }

  &__main {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
  }

  &__image {
    width: percent(502, 1260);
    flex-shrink: 0;
    @media (max-width: $mobile) {
      width: 361px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0 auto;
    }

    img {
      max-width: 100%;
    }
  }

  &__content {
    max-width: 624px;
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 100px;
      @media (max-width: $tablet) {
        margin-bottom: 60px;
      }
      @media (max-width: $tablet) {
        margin-bottom: 40px;
      }
    }
  }

  &__grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 18px;
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }


  &__bottom {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.why-item-top {
  text-align: center;
  padding: 27px 16px 12px;
  @media (max-width: $mobile) {
    padding: 8px 21px;
  }

  &__images {
    height: 40px;
    gap: 16px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    @media (max-width: $tablet) {
      gap: 16px;
      height: 20px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 0;
    }


    img {
      max-height: 100%;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.28px;
    color: #6F7A83;
    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.why-item {
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 8.38944px 10.01724px 0px rgba(31, 64, 60, 0.07), 0px 67px 80px 0px rgba(31, 64, 60, 0.04);
  padding: 24px;

  &:first-child {
    .why-item__icon {
      background: #FF8A00;
      border-color: #FFE6C9;
    }
  }

  &:nth-child(2) {
    .why-item__icon {
      color: #3D14AF;
      background: #BBA3FF;
      border-color: #E7DFFF;
    }
  }

  &:nth-child(3) {
    .why-item__icon {
      background: #AEF2D7;
      border-color: #E5FDF3;
    }
  }

  &:nth-child(4) {
    .why-item__icon {
      background: #DAEB15;
      border-color: #FBFFCA;
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 7px solid #FFE6C9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.44px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.44px;
    @media (max-width: $mobile) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
      @media (max-width: $mobile) {
        margin-bottom: 8px;
      }
    }
  }

  &__text {
    color: #52525B;
    line-height: 24px;
    letter-spacing: 0.32px;
    @media (max-width: $mobile) {
      font-size: 14px;
      line-height: 155%;
    }
  }
}

.why-item-info {
  padding: 3px 0px 3px 24px;
  position: relative;
  @media (max-width: $mobile) {
    padding: 0 0 12px;
  }

  &::after {
    content: '';
    left: 0;
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 3px;
    background: linear-gradient(180deg, rgba(1, 187, 223, 1) 0%, rgba(1, 223, 165, 1) 100%);
    @media (max-width: $mobile) {
      width: 100%;
      bottom: 0;
      left: 0;
      height: 4px;
      top: auto;
    }
  }

  &__value {
    font-size: 32px;
    line-height: 132%;
    letter-spacing: -0.32px;
    margin-bottom: 8px;
    @media (max-width: $mobile) {
      font-size: 28px;
      margin-bottom: 4px;
    }
  }

  &__text {
    color: #6F7A83;
    line-height: 24px;
    letter-spacing: 0.32px;
    @media (max-width: $mobile) {
      font-size: 14px;
    }
  }
}