// ===============
// colors palette
// ===============
:root {
  --primary: #000; // Site main color - (Основний колір сайту)
  --secondary: rgba(0, 184, 129, 1); // Site secondary color - (Додатковий колір сайту)
  --gradient: linear-gradient(90deg, #8CFFB9 0%, #8CFEB9 67.04%, #B2AAFA 100%); // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
}
