.title-h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 132%;
    letter-spacing: -0.34px;
    @media (max-width: $tablet) {
        font-size: 28px;
        letter-spacing: -0.28px;
    }
}

.title-h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 132%;
    letter-spacing: -0.56px;
    @media (max-width: $tablet) {
        font-size: 44px;
        letter-spacing: -0.38px;
    }
    @media (max-width: $mobile) {
        font-size: 38px;
    }
}

.nav {
    display: flex;
    justify-content: center;

    gap: 4px;
    border-radius: 12px;
    background: var(--grey-black-10, rgba(12, 33, 51, 0.05));
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06) inset, 0px 1px 2px 0px rgba(0, 0, 0, 0.06) inset;
    max-width: max-content;
    margin: 0 auto;
    padding: 4px;

    &__item {
        padding: 7px 8px 9px;
        text-align: center;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.32px;
        border-radius: 8px;
        transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
        min-width: 205px;
        @media (max-width: $mobile) {
            padding: 3px 8px 5px;
        }

        &:hover {
            color: var(--secondary);
        }

        &._tab-active {
            background: var(--white, #FFF);
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05), 0px 2px 5px 0px rgba(0, 0, 0, 0.06), 0px 6px 12px 0px rgba(0, 0, 0, 0.12);

            &:hover {
                color: var(--primary);
            }
        }
    }
}

.subtitle {
    color: #6F7A83;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    @media (max-width: $mobile) {
        font-size: 14px;
    }
}

.link {
    display: inline-block;
    padding: 8px 18.5px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.32px;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    border-radius: 18px;
    @media (max-width: $mobile) {
        padding: 12px;
        text-align: center;
        display: flex;
        justify-content: center;
        letter-spacing: 0.32px;
        border-radius: 18px;
        background: #F3F3F3;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    &:hover {
        background: #F3F3F3;
    }
}

.form-item {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        &:not(:last-child) {
            margin-bottom: 13px;
            @media (max-width: $mobile) {
                margin-bottom: 8px;
            }
        }
    }

    &__label {
        line-height: 24px;
        letter-spacing: 0.32px;
        @media (max-width: $mobile) {
            font-size: 14px;
            line-height: 155%;
            letter-spacing: 0.28px;
        }
    }

    &__tippy {
        width: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 16px;
        flex-shrink: 0;
    }

    &__input {
    }
}

.nav-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;

    &__arrow {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #000;
        transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);

        &.swiper-button-disabled {
            pointer-events: none;
            opacity: 0.3;
        }

        &:hover {
            background: #d1d1d1;
        }
    }

    &__arrow--prev {
    }

    &__pagination {
        flex: 1 1 auto;
        font-size: 18px;
        line-height: 24px;
        text-align: center;

    }

    &__arrow--next {
    }
}

.bottom-block {
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 32px 24px 0px 0px;
    background: var(--green-light, #E5FBBA);
    box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.14);
    width: 100%;
    z-index: 4;
    padding: 20px 24px 24px;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    transform: translateY(150%);
    @media (min-width: $mobile) {
        display: none;
    }

    .down & {
        transform: translateY(0);
    }

    &.hide {
        opacity: 0;
        transform: translateY(150%) !important;
    }

    &::after {
        content: '';
        border-radius: 10px;
        background: var(--property-1-diagram-300, #B0B0B0);
        position: absolute;
        height: 2px;
        width: 22px;
        top: 6px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    &__left {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
    }

    &__icon {
        width: 32px;
        height: 32px;
    }

    &__text {
        font-size: 14px;
        font-weight: 600;
        line-height: 155%;
        letter-spacing: 0.28px;
    }

    &__button {
        width: 110px;
        flex-shrink: 0;
        height: 48px;
    }
}

